:root {
  --cor-preto: rgb(0, 0, 0);
  --cor-cinza: rgb(52, 52, 52);
  --cor-vermelho: rgb(182, 10, 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrant', sans-serif;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container2 {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
